In [54]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [71]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [73]:
#  3. Convert the June temperatures to a list.
june_temps_list = list(june_temps)

In [76]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(june_temps_list)

In [85]:
df_june.rename(columns={'tobs': 'June Temps'}, inplace=True)

In [86]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [79]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [80]:
# 7. Convert the December temperatures to a list.
december_temps_list = list(december_temps)

In [81]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_december = pd.DataFrame(december_temps_list)

In [87]:
df_december.rename(columns={'tobs': 'December Temps'}, inplace=True)

In [88]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_december.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## D3: Additional queries

In [90]:
# Create a function to run statstics for any month.
def month_stats_temp(month_num):
    
    '''
    Take a number representating a month and calculate statistics
    '''
    
    # Write a query that filters the Measurement table to retrieve the temperatures for the month.
    month_temps = session.query(Measurement.date, Measurement.tobs).\
                    filter(extract('month', Measurement.date) == month_num).all()
    
    # Convert the month temperatures to a list.
    month_temps_list = list(month_temps)
    
    # Create a DataFrame from the list of temperatures for the month. 
    df_month = pd.DataFrame(month_temps_list)
    
    df_month.rename(columns={'tobs': 'Temps'}, inplace=True)
    
    # Calculate and print out the summary statistics for the month temperature DataFrame.
    return df_month.describe()

In [95]:
# Create a function to run statstics for any month.
def month_stats_prcp(month_num):
    
    '''
    Take a number representating a month and calculate statistics
    '''
    
    # Write a query that filters the Measurement table to retrieve the temperatures for the month.
    month_prcp = session.query(Measurement.date, Measurement.prcp).\
                    filter(extract('month', Measurement.date) == month_num).all()
    
    # Convert the month precipitation to a list.
    month_prcp_list = list(month_prcp)
    
    # Create a DataFrame from the list of temperatures for the month. 
    df_month = pd.DataFrame(month_prcp_list)
    
    df_month.rename(columns={'prcp': 'Prcp'}, inplace=True)
    
    # Calculate and print out the summary statistics for the month temperature DataFrame.
    return df_month.describe()

In [96]:
month_stats_prcp(6)

              Prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [97]:
month_stats_prcp(12)

              Prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000